{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    ".*\\.css$",
    "^react$",
    "^next(/.*)?$",
    "^next-intl",
    "^next-themes",
    "<THIRD_PARTY_MODULES>",
    "^@/utils/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/stores/(.*)$",
    "^@/components/(.*)$",
    "^@remixicon",
    "^@lucide-react",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
